body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: aqua;
}

.carousel {
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 300px; /* Ajuste a altura conforme necessário */
    overflow: hidden;
}

.carousel-inner .carousel-item {
    display: none;
}

.carousel-inner .carousel-item.active {
    display: block;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 20%;

    margin-bottom: 16px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 8px;
    cursor: pointer;
}

.carousel-indicators li.active {
    background-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    
}
